.background{
    background-color: var(--mantine-colors-gray-1);
}

.wrapper {
    /*padding-top: calc(var(--mantine-spacing-xl) * 4);*/
    /*padding-bottom: calc(var(--mantine-spacing-xl) * 4);*/
}

.title {
    font-size: rem(34px);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}

.description {
    max-width: rem(600px);
    text-align: center;
}